.App {
  text-align: center;
}
.title {
  align-items: center;
  text-align: center;
  font: 1em sans-serif;
  font-weight: bolder;
  margin-bottom: 50px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  border: 1px solid #f4f4f4;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-top: 20px;
}
